@import "tailwindcss";

@theme {
	--font-serif: "PPEditorialNew", serif;
	--font-sans: "PublicSans", sans-serif;

	--color-background: #ffffff;
	--color-background-secondary: #dfdfdf;
	--color-background-tertiary: #252322;
	--color-accent: #be9536;
	--color-header: #252322;
	--color-paragraph: #5a5553;
	--color-border: rgba(255, 255, 255, 0.1);
}